@using MedicalQuestions.Dto
@model LoginUserViewModel

@{
    ViewData["Title"] = "Вход";
    bool showError = ViewBag.ShowError ?? false;
}

@if (showError)
{
    <div>
        Невалидно потребителско име или парола!
    </div>
}

<form asp-controller="Auth" asp-action="Login" method="post">
    Потребителско име: <input asp-for="Username" /><br />
    Парола: <input asp-for="Password" /><br />
    <button type="submit">Вход</button>
</form>
